<div class="container-fluid text">
    <h3>Trending Now</h3>
    <p>Get your hands on the hottest sellers right now!</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/redtop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Red Bow Shoulder Bardot Top
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/greentop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Olive Square Neck Knit Top
                       </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/trackpant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Black Zipper Jogger Pant
                       </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/whitetop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">White Off-Shoulder Shirt Dress
                        </p>
                </div>


            </div>
        </div>