<div class="container-fluid bg">
    <a class="navbar-brand" href="#"><span style="background-color: black;color: white;">FASHION</span><span
            style="background-color: red;color: black;">HUB</span></a>
    <div class="row">
        <div class="col-md-4">
            <h5><b>Company:</b></h5>
            <div>
                <ul>
                    <li><a class="font" href="">About Us</a></li>
                    <li><a class="font" href="">Contact Us</a></li>
                    <li><a class="font" href="">Carrers</a></li>

                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <h5><b>Help:</b></h5>
            <div>
                <ul>
                    <li><a class="font" href="">Order Status</a></li>
                    <li><a class="font" href="">Return & Exchange</a></li>
                    <li><a class="font" href="">International Orders</a></li>
                    <li><a class="font" href="">Terms & Conditions</a></li>
                    <li><a class="font" href="">Privacy Policy</a></li>

                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <h5><b>SUBSCRIBE TO OUR NEWSLETTER</b></h5><br>
            <form action="#" method="Post">
                <input type="text" name="text" placeholder="Enter Your Email Id">
                <button type="button" class="btn btn-secondary btn-lg">Subscribe</button>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5>HEAD OFFICE ADDRESS:</h5>
            <p>High Street Essentials Pvt Ltd<br>
                C-11, Sector 7, Baner,Pune 411008, India<br>
                Customer Care: +91-8929987349 / 0120-6850262</p>

        </div>
        <div class="col-md-4">
            <h5>Return Address:</h5>
            <p>High Street Essentials Pvt Ltd<br>
                C-11, Sector 7, Baner,Pune 411008, India</p>

        </div>
        <div class="col-md-4">
            <h5>Payment Method</h5><br>
            <img  src="assets/images/payment.png" alt=""><br><br>
           </div>
           <hr>
    </div>
   <h5 class="h5"><b>Populer Searches:</b></h5>
   <ul class="breadcrumb">
    <li><a href="#">New Arrivals</a></li>
    <li><a href="#">Western Clothing</a></li>
    <li><a href="#">Tops</a></li>
    <li><a href="#">Dresses</a></li>
    <li><a href="#">Skirts</a></li>
    <li><a href="#">Bottoms</a></li>
    <li><a href="#">Denim</a></li>
    <li><a href="#">Jackets & Blazzers</a></li>
    <li><a href="#">Casual Wear</a></li>
    <li><a href="#">Maxi Tops</a></li>
    <li><a href="#">Off-Shoulder Tops</a></li>
    <li><a href="#">Jumpsuits</a></li>
    <li><a href="#">Maxi Dresses</a></li>
    <li><a href="#">Skater Dresses</a></li>
    <li><a href="#">Mini Dresses</a></li>
    <li><a href="#">Leggings</a></li>
    <li><a href="#">Jeggings</a></li>
    <li><a href="#">Summer wear</a></li>
    <li><a href="#">Vacation Wear</a></li>
    <li><a href="#">Work Wear</a></li>
    <li><a href="#">Floral Tops</a></li>
    </ul><br>



</div>