<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="#"><span style="background-color: black;color: white;">FASHION</span><span
        style="background-color: red;color: black;">HUB</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Trends
          </a>
          <div class="dropdown-menu font" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Polka Passion</a>
            <a class="dropdown-item" href="#">Stripes Swipesd Right</a>
            <a class="dropdown-item" href="#">Tiers Of Joy</a>
            <a class="dropdown-item" href="#">Bow-Led Over!</a>
            <a class="dropdown-item" href="#">Love Me Some White</a>
            <a class="dropdown-item" href="#">Pastel Punch</a>
            <a class="dropdown-item" href="#">Thread Theory</a>
            <a class="dropdown-item" href="#">Romace The Ruffles</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Clothing
          </a>
          <div class="dropdown-menu font" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tops</a>
            <a class="dropdown-item" href="#">Dresses</a>
            <a class="dropdown-item" href="#">Skirts</a>
            <a class="dropdown-item" href="#">Bottoms</a>
            <a class="dropdown-item" href="#">Jeans</a>
            <a class="dropdown-item" href="#">Shrugs</a>
            <a class="dropdown-item" href="#">Basics</a>
            <a class="dropdown-item" href="#">Classic</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tops
          </a>
          <div class="dropdown-menu font " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Crop Tops</a>
            <a class="dropdown-item" href="#">Tank Tops</a>
            <a class="dropdown-item" href="#">T-Shirts</a>
            <a class="dropdown-item" href="#">Shirts</a>
            <a class="dropdown-item" href="#">Blouses</a>
            <a class="dropdown-item" href="#">Maxi Tops</a>
            <a class="dropdown-item" href="#">Peplum Tops</a>
            <a class="dropdown-item" href="#">Wrap Tops</a>
            <a class="dropdown-item" href="#">Off-Shoulder Tops</a>
            <a class="dropdown-item" href="#">Cold Shoulder Tops</a>
            <a class="dropdown-item" href="#">One Shoulder Tops</a>




          </div>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dress
          </a>
          <div class="dropdown-menu font" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Body-con Dresses</a>
            <a class="dropdown-item" href="#">A-line Dresses</a>
            <a class="dropdown-item" href="#">Maxi Dresses</a>
            <a class="dropdown-item" href="#">Midi Dresses</a>
            <a class="dropdown-item" href="#">Mini Dresses</a>
            <a class="dropdown-item" href="#">Gowns</a>
            <a class="dropdown-item" href="#">Floral Dresses</a>
            <a class="dropdown-item" href="#">Wrap Dresses</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Curve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span style="color: red;">Summer Wear</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Long Wear</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>